* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.adsPlatform {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 640px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 390px;
}
.adsPlatform h2 {
  font-family: Plus Jakarta Sans;
  font-size: 32px;
  color: white;
  width: 272px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.96px;
}
.adsPlatform p {
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 500;
  width: 284px;
  margin: 16px 0 20px 0;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.adsPlatform img {
  width: 400px;
  margin-left: 120px;
  transition: 0.3s ease-in-out;
}
.adsPlatform Ads2Img {
  width: 200px;
}
.adsPlatform:hover img {
  transform: translateX(20px);
}
.adsBtn {
  all: unset;
}

/* //=================>> */
@media (max-width: 1455px) {
  .adsPlatform {
    width: 550px;
  }
  .adsPlatform img {
    width: 380px;
    margin-left: 100px;
    margin-top: 10px;
  }
}

@media (max-width: 1256px) {
  .adsPlatform img {
    width: 320px;
    margin-left: 80px;
  }
}

@media (max-width: 990px) {
  .adsPlatform h2 {
    font-size: 28px;
  }
  .adsPlatform p {
    font-size: 14px;
  }
  .adsPlatform img {
    width: 260px;
    margin-left: 50px;
  }
  .adsPlatform {
    width: 400px;
    height: 350px;
  }
}

@media (max-width: 810px) {
  .adsPlatform {
    width: 500px;
  }
}

@media (max-width: 560px) {
  .adsPlatform {
    width: 400px;
  }
}

@media (max-width: 425px) {
  .adsPlatform {
    width: 340px;
    height: 232px;
  }
  .adsPlatform h2 {
    font-size: 16px;
  }
  .adsPlatform p {
    font-size: 12px;
    width: 216px;
  }
  .adsPlatform img {
    width: 192px;
  }
}
