* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.adsPlatform {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 640px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 390px;
}
.adsPlatform h2 {
  font-family: Plus Jakarta Sans;
  font-size: 32px;
  color: white;
  width: 272px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 48px */
  letter-spacing: -0.96px;
}
.adsPlatform p {
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 500;
  width: 284px;
  margin: 16px 0 20px 0;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.adsPlatform img {
  width: 400px;
  margin-left: 120px;
  transition: 0.3s ease-in-out;
}
.adsPlatform Ads2Img {
  width: 200px;
}
.adsPlatform:hover img {
  transform: translateX(20px);
}
.adsBtn{
  all:unset;
}

/* //=================>> */
@media (max-width: 300px) {
}
