.mainBtn {
  color: white;
  padding: 10px 20px;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
  border: none;
  outline: none;
  border-radius: 4px;
  max-width: 157px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.mainBtn:hover {
  opacity: 0.8;
}
.mainBtn:active {
  transform: scale(0.97);
}

@media (max-width: 560px) {
  .mainBtn {
    font-size: 13px;
  }
}

@media (max-width: 425px) {
  .mainBtn {
    font-size: 12px;
  }
}
