.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
}

.modal {
  position: fixed;
  top: 15%;
  left: 10%;
  transform: translateX(-50%, -50%);
  width: 1200px;
  height: 500px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 10px;
  z-index: 100;
  display: flex;
  gap: 50px;
  overflow-x: scroll;
  align-items: center;
  padding: 50px;
}
.modal::-webkit-scrollbar {
  display: none;
}
.modal .boxCar {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  padding: 10px 20px;
  border-radius: 10px;
  width: 310px;
}
.modal h1 {
  color: green;
  font-size: 45px;
}
.close {
  position: fixed;
  font-size: 27px;
  font-weight: 400;
  background-color: #fff;
  color: white;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  border-radius: 50%;
  height: 50px;
  top: 90px;
  right: 152px;
  cursor: pointer;
  z-index: 110;
}
#btnOpen {
  border: none;
  outline: none;
  background-color: green;
  color: white;
  padding: 15px 25px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 10px;
  z-index: 80;
}
.blur {
  background-color: #000;
  opacity: 0.5;
  position: fixed;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}
.hide {
  display: none;
}
