.locationAndTime {
  background-color: #fff;
  padding: 20px 28px;
  border-radius: 10px;
  margin-top: 32px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 582px;
}
.locationAndTime .rangeDiv {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 16px;
}
.rangeDiv p {
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.locationAndTime .selectDiv {
  display: flex;
  align-items: center;
}
.selectDiv div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 30px;
}
.selectDiv div h3 {
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.selectDiv div select {
  border: none;
  outline: none;
  color: #90a3bf;
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.24px;
}
.selectDiv .date {
  border-left: 1px solid rgba(195, 212, 233, 0.4);
  border-right: 1px solid rgba(195, 212, 233, 0.4);
}

/* ==========>> media <<============ */
@media (max-width: 1455px) {
  .locationAndTime {
    width: 500px;
  }
}

@media (max-width: 1256px) {
  .locationAndTime {
    width: 440px;
    padding: 15px 20px;
  }
  .selectDiv div {
    padding: 0 15px;
  }
}

@media (max-width: 990px) {
  .locationAndTime {
    margin-top: 0px;
    width: 500px;
  }
  .selectDiv div {
    padding: 0 24px;
  }
  .popularCarCards,
  .recomendationCarCards {
    padding: 30px 0;
  }
}

@media (max-width: 560px) {
  .locationAndTime {
    width: 400px;
    padding: 13px 9px;
  }
  .selectDiv div {
    padding: 0 12px;
  }
}

@media (max-width: 425px) {
  .locationAndTime {
    width: 340px;
  }
}
