* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#container {
  width: 1200px;
  margin: 0 auto;
}

main {
  padding: 64px 0 116px 0;
  background-image: url("../../images/Rectangle 256.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main #container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
main #container a {
  border-radius: 59px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  padding: 18px 48px;
  font-weight: 500;
  margin: 50px 0 17px 0;
  color: white;
}
main #container h1 {
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  font-size: 144px;
  text-align: center;
  font-weight: 900;
  line-height: 134.5px;
  margin-bottom: 100px;
}
main #container button {
  transition: 0.3s ease-in-out;
  border-radius: 35px;
  background: #fff;
  box-shadow: 0px 16px 30px 0px rgba(50, 175, 100, 0.15);
  color: #6cb981;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 22px 53px;
  border: none;
  outline: none;
  cursor: pointer;
}
main #container button:hover {
  opacity: 0.8;
}
main #container button:active {
  transform: scale(0.95);
}

#service {
  padding: 70px 0 50px 0;
}
#service #container {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-items: center;
  gap: 50px;
}
#service #container h2 {
  color: #828282;
  font-size: 64px;
  font-weight: 800;
}
#service #container h2:last-child {
  padding-top: 20px;
}
#service #container .ServiceCards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
#service #container .cardBox {
  width: 385px;
  border-radius: 30px;
  background: #fff;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 10px 30px 0px rgba(16, 51, 30, 0.1);
}
#service #container .cardBox img {
  width: 100%;
}
#service #container .cardBox .cardTexts {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
#service #container .cardBox:hover {
  transform: translateY(-30px);
}
#service #container button {
  transition: 0.3s ease-in-out;
  border-radius: 35px;
  background: #fff;
  box-shadow: 0px 16px 30px 0px rgba(50, 175, 100, 0.15);
  color: #6cb981;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 22px 53px;
  border: none;
  outline: none;
  cursor: pointer;
}
#service #container button:hover {
  opacity: 0.8;
}
#service #container button:active {
  transform: scale(0.95);
}

#aboutUS {
  background-image: url("../../images/aboutUsBcImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 154px 0 50px 0;
}
#aboutUS #container {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-items: center;
  gap: 50px;
}
#aboutUS .textsCard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
#aboutUS .textsCard p {
  color: white;
  width: 360px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
#aboutUS button {
  transition: 0.3s ease-in-out;
  border-radius: 35px;
  background: #fff;
  box-shadow: 0px 16px 30px 0px rgba(50, 175, 100, 0.15);
  color: #6cb981;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 22px 53px;
  border: none;
  outline: none;
  cursor: pointer;
}
#aboutUS button:hover {
  opacity: 0.8;
}
#aboutUS button:active {
  transform: scale(0.95);
}

#testimonial {
  padding: 70px 0 50px 0;
}
#testimonial #container {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-items: center;
  gap: 70px;
}
#testimonial #container h2 {
  color: #828282;
  font-size: 64px;
  font-weight: 800;
}
#testimonial .tesCards {
  display: grid;
  grid-template-columns: auto auto;
  gap: 45px;
}
#testimonial .tesCardBox {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: start;
  gap: 15px;
  padding: 30px;
  border-radius: 40px;
  border: 1px solid #6cb981;
  width: 577px;
}
#testimonial .tesCardBox .rightTexts {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
#testimonial .tesCardBox .rightTexts h4 {
  color: #6cb981;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
#testimonial .tesCardBox .rightTexts p {
  color: #0d4c14;
  line-height: 22px;
}

#contact {
  padding: 50px 0 50px 0;
  background-color: #fcfcfc;
}
#contact #container {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-items: center;
}
#contact #container h2 {
  color: #828282;
  font-size: 64px;
  font-weight: 800;
}
#contact .bottomContents {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
#contact .bottomContents .leftForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-items: center;
  gap: 15px;
}
#contact .bottomContents .leftForm .inputs {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
#contact .bottomContents .leftForm label {
  font-size: 18px;
  font-weight: 600;
}
#contact .bottomContents .leftForm input {
  border-radius: 61px;
  background: #9fdea9;
  color: white;
  width: 371px;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 16px;
}
#contact .bottomContents .leftForm button {
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 61px;
  border: 3px solid #4db96b;
  padding: 15px 50px;
  font-size: 16px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
#contact .bottomContents .leftForm button:hover {
  opacity: 0.8;
}
#contact .bottomContents .leftForm button:active {
  transform: scale(0.95);
}
#contact .bottomContents .rightSide {
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}
#contact .bottomContents .rightSide .emailContact,
#contact .bottomContents .rightSide .phone,
#contact .bottomContents .rightSide .location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#contact .bottomContents .rightSide .emailContact i,
#contact .bottomContents .rightSide .phone i,
#contact .bottomContents .rightSide .location i {
  font-size: 24px;
  color: #4db96b;
}
#contact .bottomContents .rightSide .emailContact a,
#contact .bottomContents .rightSide .phone a,
#contact .bottomContents .rightSide .location a {
  font-size: 16px;
  font-weight: 600;
  color: black;
}

footer {
  height: 145px;
  background-color: #324b29;
}
footer #container {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer h2 {
  padding-top: 20px;
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}/*# sourceMappingURL=main.css.map */